/*The only thing I would say needs playing around with is the colors used. The scheme itself is pretty good(black and blue
but i think the colors on the current version still might need some playing around with.
Also if possible add some icons or something. I'll try to look into some animations, as well.
 */
body {
    margin-left: 0;
    margin-right: 0;
}
#logo{
    display: block;
    width: 5rem;
}
#logo:hover{
    opacity:50%;
}
#arrow {
    display: none;
}
/*I couldn't figure out why this image goes over the header when you scroll like that. If yall could figure out
would be pretty sick*/
@media (min-width:600px){
    #arrow{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 8rem;
        height: auto;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        animation: pulse 1.5s infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(0.95);
        }
        70% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.95);
        }
    }
}
a{
    text-decoration: none;
    color: #6e6e6e;
}
.logo{
    object-fit: cover;
    margin-top: auto;
    margin-bottom:auto;
}
header{
    display: flex;
    height: 6rem;
    padding-left:1rem;
    background: white;
    padding-top: 0.25rem;
    border-bottom: solid;
}
.texts{
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 0.6rem;
    margin: auto 0 auto auto;
}
#about{
    margin-left: 3rem;
    margin-right: 4rem;
}
h1{
    font-family: 'Poppins', sans-serif;
   color: #14276d;
    font-size: 2.5rem;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    color: black;
}
#BigHeader1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:7rem;
    padding-top: 8.5rem;
    margin-bottom:0;
    padding-bottom: 0;
    background: -webkit-linear-gradient(#64B5F6, #0c0c0c); /*Use whatever gradient you want here, just used a random*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

}
.textUnderBigHeader{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
    padding-top:0;
    letter-spacing: 0.05rem;
    color: gray;
}
.first {
    height: 100vh;
}
.points {
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 0;
    background-color: #a1cdf3;
}
.group {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    margin-bottom: 10rem;
}
.text {
    flex: 1 1 0px;
}
.icon {
    margin-left: 2rem;
    flex: 1 1 0px;
}
#BigHeader2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:7rem;
    padding-top: 4.5rem;
    margin-bottom:0;
    padding-bottom: 0;
    background: -webkit-linear-gradient(#64B5F6, #0c0c0c); /*Use whatever gradient you want here, just used a random*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: none;
    border-style: solid;
    border-color: black;
    margin-top: 2rem;
}
button:hover{
    opacity: 50%;
}
#contact{
    font-size: 2em;
}
#contact:hover{
    opacity:50%;
}
#about {
    font-size: 2em;
}
#about:hover{
    opacity:50%;
}
#last {
    margin-top:0;
    text-align: center;
    padding-bottom: 5rem;
}